/Pt4. Expressions lambda/nbproject/private/
/UOC/nbproject/private/
/Aplicacio_professorat_UOC/nbproject/private/
/Pt4. Expressions lambda/build/
/Exepcions/nbproject/private/
/Exepcions/build/
/Exepcions/dist/
/Pt1 Exepcions/nbproject/private/
/Pt1 Exepcions/build/
/Pt2/nbproject/private/
/Pt2/build/
/UnaAltraProvaUml/nbproject/private/
/Pt3 Arrays/nbproject/private/
/Pt3 Arrays/build/
/Pt4 Strings/nbproject/private/
/Pt4 Strings/build/
/Pt4 Strings/dist/
/Pt5. Expresions regulars/nbproject/private/
/Pt5/nbproject/private/
/Pt5/build/
/Generics/nbproject/private/
/Generics/build/
/Coleccions/nbproject/private/
/Pt6/nbproject/private/
/Pt6/build/
/PROVA INTERFICIES/nbproject/private/
/PROVA INTERFICIES/build/
/MP3UF5Pt7GUIMVC/build/
/MP3UF5Pt7GUIMVC/dist/
/MP3UF5Pt7GUIMVC/nbproject/private/
/MVCLibrary/dist/
/MVCLibrary/nbproject/private/
/MVCLibrary/build/
/pt7/nbproject/private/
/pt7/build/
/Pt1 Gestió d'una BD en MVC i MySQL/nbproject/private/
/Pt1 Gestió d'una BD en MVC i MySQL/build/
/pt3 db4o - QBE/nbproject/private/
/pt3 db4o - QBE/build/
/Pt1 Gestió d'una BD en MVC i MySQL/dist/
/Pt5. db4o/nbproject/private/
/Pt5. db4o/build/
/Poves judge/nbproject/private/
/Poves judge/build/
/Poves judge/dist/
/Pt5. db4o/dist/
/JavaBeanExample/nbproject/private/
/Producte/nbproject/private/
/Producte/build/
/Pr3 - Creant un bean d'accés a dades/nbproject/private/
/PROVES/nbproject/private/
/PROVES/build/
/PROVES/dist/
/Pr3 - Creant un bean d'accés a dades/build/
/Pr3 - Creant un bean d'accés a dades/dist/
/TutorialHibernate/nbproject/private/
/MP6-UF2-Pt2_NomCognom/nbproject/private/
/MP6-UF2-Pt2_NomCognom/build/
/MP6-UF2-Pt2_JoanTiscar/nbproject/private/
/MP6-UF2-Pt2_JoanTiscar/build/
/MP6-UF2-Pt2_JoanTiscar/dist/
/GUIMVC/dist/
/MP6-UF2-Pt3_JoanTiscar/nbproject/private/
/MP6-UF2-Pt3_JoanTiscar/build/
/MP6-UF2-Pt3_JoanTiscar/dist/
/ProvaNM/nbproject/private/
/ProvaNM/build/
/Pt3 - accès a MongoDB des de Java/nbproject/private/
/Pt3 - accès a MongoDB des de Java/build/